<!DOCTYPE html>
<html>
    <head>
        <title>foxintelligence</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/web/bower_components/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="/web/bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div id="wrapper">

            <div class="row">
                <div class="col-md-offset-2 col-md-3">

                    <div class="form-group">
                        <label for="exampleInputFile">Envoyer fichier</label>
                        <input id="fiHtmlFile" type="file" class="form-control-file"  aria-describedby="configurationFile">
                        <small id="fileHelp" class="form-text text-muted">Donnez nous votre fichier au format hml, nous vous afficherons la version JSON du document.</small>
                    </div>

                </div>
            </div>
        </div>
        <div id='temp'></div>
        <script src="/web/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/web/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/web/bower_components/foxintelligenceBower/foxintelligenceBower.js"></script>
        <script src="/web/js/index.js"></script>
    </body>
</html>
